{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/pagination.css' %}">
</head>
<body>
    <div class=".pagination-container">
        <ul class="pagination justify-content-center">
          {% if query_set.has_other_pages %}
          {%  if query_set.has_previous %}
          <li class="page-item"><a class="page-link" data-page="{{query_set.previous_page_number}}" href="?page={{query_set.previous_page_number}}" aria-label="Previous"><span aria-hidden="true">&laquo;</span></a></li>
          {% endif %}
  
          {% for page in custom_range %}
          {% if page == query_set.number  %}
          <li class="page-item active"><a class="page-link" data-page="{{ page }}" href="?page={{page}}">{{page }}</a></li>
          {% else %}
          <li class="page-item"><a class="page-link" data-page="{{ page }}" href="?page={{page}}">{{page }}</a></li>
          {% endif %}
          {% endfor %}
  
          {%  if query_set.has_next %}
          <li class="page-item"><a class="page-link" data-page="{{ query_set.next_page_number }}" href="?page={{query_set.next_page_number}}" aria-label="Previous"><span aria-hidden="true">&raquo;</span></a></li>
          {% endif %}
          {% endif %}
        </ul>
      </div>

      <!-- javascript file -->

</body>
<script src="{% static 'js/pagination.js' %}"></script>
</html>